#users>.user-28{
    background: url("https://media.giphy.com/media/VbnUQpnihPSIgIXuZv/giphy.gif");
    height: 480px;
    width: 330px;
    color:yellow;
    text-align: center;
    font-size: 30px;
}