#evil-button {
   box-sizing: border-box;

   position: absolute;
   white-space: nowrap;
   font-size: 1rem;

   border-radius: 5px;
   background: blue;
   outline: none;

   color: white;
   padding: 5px;
}